@media screen and (max-width:991px) {
    .col-md-12 {
        width: 45vw;
        margin: 20px auto;
    }  
}


@media screen and (max-width:767px) {
    .col-md-12 {
        width: 100vw;
    }

    .card {
        margin: 10px;
    }
}


.lightbutton {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Montserrat';
}

.lightbutton:hover {
    color: #000;
    background-color: #fff ;
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 40px #fff;
    transition-delay: 1s;
    color: #000;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    bottom: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
}

a:hover span:nth-child(2) {
    bottom: -100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    top: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
}

a:hover span:nth-child(4) {
    top: -100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.button2 {
    text-align: center;
    color: #15f4ee;
    font-size: 16px;
    border: 5px solid #15f4ee;
    cursor: pointer;
    border-radius: 100px;
}

.button2:hover {
    box-shadow: 0 2px 5px 1px #15f4ee inset, 0 2px 5px 1px #15f4ee, 0 2px 5px 1px #15f4ee inset, 0 2px 5px 1px #15f4ee ;
    /* text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee ; */
    color: #15f4ee;
    transition: all 1s;
    background: transparent;
} 

div.card {
    border-radius: 20px;    
    position: relative;
}

div.card:hover {
    outline: #196bb2 solid 5px;
}

#name {
    font-size: 1.5em;
}
